body{
background-color: darkslategrey;
color: white;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid white;
}
.center{
    text-align: center;
    color: white;
}
.resposta{
    
}